header{
  height:10rem;
}

.main_title {
  transform: rotate(-30deg);
  width: 30rem;
  color: darkblue;
}

header > a {
  float: right;
  margin: 2rem;
  color: white;
  padding: 0.5rem 1.5rem;
  background-color: cornflowerblue;
  cursor:pointer;
}


section{
  float:right;
  width:100%;
  text-align:right;
  padding:0rem 2rem;
}

section > ul {
  display:inline-block;
  padding:0;
  width:25%;
  vertical-align:top;
}

section > ul > li {
  display:block;
  margin:0.5rem 0.1rem;
  text-align:left;
  padding:15px 10px;
  background-color:lightgrey;
}

.table_title {
  background-color:cornflowerblue;
  color:white;
}

.context {
  font-size:12px;
}

.context > input {
	float:right;
}